* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #302a78;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex {
  display: flex;
}
.content_center {
  justify-content: center;
}
.content_start {
  justify-content: start;
}
.content_end {
  justify-content: end;
}
.content_between {
  justify-content: space-between;
}
.content_around {
  justify-content: space-around;
}

.item_center {
  align-items: center;
}
.text_center {
  text-align: center;
}
